<a ng-href="#/movies">Takaisin elokuvalistaan</a>

<form name="movieForm">
  <p>
    <label>
      Nimi:
      <input type="text" ng-model="movie.title" required>
    </label>
    <div ng-show="movieForm.title.$invalid && movieForm.title.$dirty">
      Nimi on pakollinen!
    </div>
  </p>

  <p>
    <label>
      Vuosi:
      <input type="number" min="1900" max="2100" ng-model="movie.year" required>
    </label>
    <div ng-show="movieForm.title.$invalid && movieForm.title.$dirty">
      Vuosi on pakollinen!
    </div>
  </p>

  <p>
    <label>
      Ohjaaja:
      <input type="text" ng-model="movie.director" required>
    </label>
    <div ng-show="movieForm.title.$invalid && movieForm.title.$dirty">
      Ohjaaja on pakollinen!
    </div>
  </p>

  <p>
    <label>
      Kuvaus:
      <textarea ng-model="movie.description" required></textarea>
    </label>
    <div ng-show="movieForm.title.$invalid && movieForm.title.$dirty">
      Kuvaus on pakollinen!
    </div>
  </p>

  <input type="submit" value="Päivitä" ng-click="updateMovie()" ng-disabled="movieForm.$invalid">
</form>
