<h1>Muokkaa elokuvaa "{{movie.title}}"</h1>

<form name="movieForm">
  <div class="form-group" ng-class="{ 'has-error': movieForm.title.$invalid }">
    <label for="title">Nimi</label>
    <input type="text" ng-model="movie.title" class="form-control" id="title" required>
  </div>
  <div ng-show="movieForm.title.$invalid && movieForm.title.$dirty">
    Nimi on pakollinen!
  </div>

  <div class="form-group" ng-class="{ 'has-error': movieForm.director.$invalid }">
    <label for="director">Ohjaaja</label>
    <input type="text" ng-model="movie.director" class="form-control" id="director" required>
  </div>
  <div ng-show="movieForm.director.$invalid && movieForm.director.$dirty">
    Ohjaaja on pakollinen!
  </div>

  <div class="form-group" ng-class="{ 'has-error': movieForm.year.$invalid }">
    <label for="year">Vuosi</label>
    <input type="number" min="1900" max="2100" ng-model="movie.year" class="form-control" id="year" required>
  </div>
  <div ng-show="movieForm.year.$invalid && movieForm.year.$dirty">
    Vuosi on pakollinen!
  </div>

  <div class="form-group" ng-class="{ 'has-error': movieForm.description.$invalid }">
    <label for="description">Kuvaus</label>
    <textarea ng-model="movie.description" class="form-control" id="description" required></textarea>
  </div>
  <div ng-show="movieForm.description.$invalid && movieForm.description.$dirty">
    Kuvaus on pakollinen!
  </div>

  <input type="submit" value="Päivitä" class="btn btn-primary" ng-click="updateMovie()" ng-disabled="movieForm.$invalid">
</form>
