<h1>Hae elokuvia</h1>

<form>
  <div class="form-group">
    <label for="name">Nimi</label>
    <input type="text" ng-model="search.name" class="form-control" id="name">
  </div>

  <div class="form-group">
    <label for="year">Vuosi</label>
    <input type="text" ng-model="search.year" class="form-control" id="year">
  </div>

  <button class="btn btn-primary" ng-click="findMovie()">Hae</button>
</form>

<h2>
  <ng-pluralize ng-show="searchResults"
                count="searchResults.length"
                when="{
                  '0': 'Hakuehdoilla ei löytynyt yhtään elokuvaa.',
                  '1': 'Hakuehdoilla löytyi {} elokuva',
                  'other': 'Hakuehdoilla löytyi {} elokuvaa'
                }">
  </ng-pluralize>
</h2>

<table class="table" ng-show="searchResults.length">
  <thead>
    <tr>
      <th>Nimi</th>
      <th>Julkaisuvuosi</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="movie in searchResults">
      <td><a ng-href="http://www.imdb.com/title/{{movie.imdbID}}" target="_blank">{{movie.Title}}</a></td>
      <td>{{movie.Year}}</td>
    </tr>
  </tbody>
</table>

<h1>Elokuvat</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nimi</th>
      <th>Ohjaaja</th>
      <th>Julkaisuvuosi</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="movie in movies">
      <td><a ng-href="#/movies/{{movie.$id}}">{{movie.title}}</a></td>
      <td>{{movie.director}}</td>
      <td>{{movie.year}}</td>
      <td><button class="btn btn-danger" ng-click="deleteMovie(movie)" ng-show="isLoggedIn">Poista</button></td>
    </tr>
  </tbody>
</table>

<a ng-href="#/movies/new" ng-show="isLoggedIn" class="btn btn-primary">Lisää elokuva</a>
