<form name="userForm">
  <p>
    <label>
      Sähköpostiosoite:
      <input type="email" ng-model="email" required>
    </label>
    <div ng-show="userForm.email.$invalid && userForm.email.$dirty">
      Sähköpostiosoite on pakollinen!
    </div>
  </p>

  <p>
    <label>
      Salasana:
      <input type="password" ng-model="password" required>
    </label>
    <div ng-show="userForm.password.$invalid && userForm.password.$dirty">
      Salasana on pakollinen!
    </div>
  </p>

  <p>{{message}}</p>

  <input type="submit" value="Kirjaudu sisään" ng-click="logIn()" ng-disabled="userForm.$invalid">
  <input type="submit" value="Rekisteröidy" ng-click="register()" ng-disabled="userForm.$invalid">
</form>
